@tailwind base;
@tailwind components;
@tailwind utilities;

/*Still on default are colors that came with the projects and will slowly be united, removed or replaced*/
@layer base {
  :root {
    --background: 210 50% 96%;
    --foreground: 0 0% 0%; /*Still on default*/
    --card: 0 0% 100%; /*Still on default*/
    --card-foreground: 0 0% 3.9%; /*Still on default*/
    --card-google-button: 193 100% 16%;
    --popover: 0 0% 100%; /*Still on default*/
    --popover-foreground: 0 0% 3.9%; /*Still on default*/
    --primary: 198 71% 15%;
    --primary-foreground: 0 0% 57%;
    --secondary: 216 100% 50%;
    --secondary-foreground: 216 99% 31%;
    --muted: 0 0% 96.1%; /*Still on default*/
    --muted-foreground: 0 0% 0%; /*Still on default*/
    --accent: 216 100% 95%; /*Still on default*/
    --accent-foreground: 0 0% 9%; /*Still on default*/
    --hero-description: 226 6% 46%;
    --hero-white: 240 100% 100%;
    --hero-lightbrown: 38 47% 93%;
    --hero-lightgreen: 161 26% 88%;
    --hero-card-shadow: 206 9% 92%;
    --destructive: 0 84.2% 60.2%; /*Still on default*/
    --destructive-foreground: 0 0% 98%; /*Still on default*/
    --border: 226 21% 90%;
    --input: 0 0% 90%; /*Still on default*/
    --border-input: 226 13% 80%;
    --label: 210 6% 44%;
    --ring: 0 0% 3.9%; /*Still on default*/
    --radius: 0.5rem;
    --otp: 214 37% 96%;
    --sidebar-background: 0 0% 98% /*Still on default*/; /*Not in use*/
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%; /*Still on default*/ /*Not in use*/
    --sidebar-primary-foreground: 0 0% 98%; /*Still on default*/
    --sidebar-accent: 240 4.8% 95.9%; /*Still on default*/
    --sidebar-accent-foreground: 226 13% 80%; /*Still on default*/
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%; /*Still on default*/
    --success: 115 60% 55%;
    --successLight: 115 77% 95%;
    --successDark: 115 77% 25%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}
